{{template "base/head" .}}

<link rel = "stylesheet" href = "https://raw.githubusercontent.com/kasperireland/gitpearcss/main/gitpear.css">
<script>window.location = "https://my.gitpear.com/user/login?redirect_to=%2fuser%2fsign_up";</script>
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2 style = "display:none;">{{.i18n.Tr "startpage.app_desc"}}</h2>
				<br /><a href = "https://my.gitpear.com/user/sign_up"><button class = "button"><strong>Pearify</strong> your code; Register an Account</button></a>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-flame"}} {{.i18n.Tr "startpage.install"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.install_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} {{.i18n.Tr "startpage.platform"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.platform_desc" | Str2html}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div style = "display:none;" class="eight wide center column">
			<h1 style = "display:none;" class="hero ui icon header">
				{{svg "octicon-rocket"}} {{.i18n.Tr "startpage.lightweight"}}
			</h1>
			<p style = "display:none;" class="large">
				{{.i18n.Tr "startpage.lightweight_desc" | Str2html}}
			</p>
		</div>
		<div style = "display:none;" class="eight wide center column">
			<h1 style = "display:none;" class="hero ui icon header">
				{{svg "octicon-code"}} {{.i18n.Tr "startpage.license"}}
			</h1>
			<p style = "display:none;" class="large">
				{{.i18n.Tr "startpage.license_desc" | Str2html}}
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
